@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

h2 {
	font-family: TT Lakes;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	color: rgba(126, 126, 130, 1);
}

.service__brands {
	display: flex;
	list-style-type: none;
	flex-wrap: nowrap;
	position: relative;
	left: -20px;
}

.service__brand {
	width: 240px;
	height: 72px;
	border: 1px solid rgba(234, 234, 234, 1);
	margin-right:  10px;
	margin-bottom:  10px;
}

.service__el1 {
}

.service__el2 {

}

.hidden1 {
	display: none;
}

.hidden2 {
	display: none;
}

.show-more__el1 {
	display: block;
}

.show-more__el2 {
	display: block;
}

.hidden4, .hidden5 {
	display: none;
	text-decoration: none;
	color: rgba(27, 28, 33, 1);
	font-family: TT Lakes;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
}

@media (min-width: 320px){

.swiper {
  	width: 200px;
  	height: 50px;
	}


}

@media (min-width: 768px){

.service__brand {
	width: 224px;
	position: relative;
}

.service__el1 {
	position: absolute;
	top:  17px;
	left: 5px;
}

.service__el2 {
	position: absolute;
	top:  15px;
	right: 5px;
}

.swiper {
  	display: none;
	}

.service__brands {
	flex-wrap: wrap;
}

.hidden4 {
	display: block;
}

}

@media (min-width: 1120px){

.service__brand {
	width: 240px;
	}

.hidden1 {
	display: block;
}

.hidden3 {
	display: none;
}

}

.active {
	display: block;
}

.active-hidden2 {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	position: relative;
	left: -20px;
}


.noactive {
	display: none;
}