@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'TT Lakes Regular';
    position: relative;
 }

.content {
	width: 320px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	box-shadow: 
	6px 0px 4px rgba(14, 24, 80, 0.2), 
	8px 2px 4px rgba(69, 79, 126, 0.02);
}

.menu__block > input:hover {
	opacity: 0.5;
	transition-duration: 1s;
}

.menu__image2 {
	margin-left: 10px;
	margin-right: 79px;
}

.nav__block {
    list-style-type: none;
    margin-bottom: 270px;
}

.nav__block > li {
	margin-bottom: 32px;
}

.nav__block > li > a{
    text-decoration: none;
    color: #1B1C21;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	transition-duration: 1s;
}

.nav__block > li > a::before{
	content: '┃';
	color: rgba(65, 246, 215, 0);
	transition-duration: 1s;
}

.nav__block > li > a:hover {
	color: #7E7E82;
}

.nav__block > li > a:hover:before {
	color: rgba(65, 246, 215, 1);
}

.menu__img-chat {
	margin-left: 10px;
	margin-right: 10px;
}

.footer__number {
	font-weight: bold;
	color: rgba(27, 28, 33, 1);
}

.footer__lang {
	display: flex;
	justify-content: start;
	list-style-type: none;
}

.footer__lang li a {
	text-decoration: none;
	margin-right: 5px;
	color: rgba(27, 28, 33, 1);
}



