@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'TT Lakes Regular'
 }



.menu__block {
    background-color: white;
	display: flex;
	justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
}

.menu__button {
    border-color: white;
    background-color: white;
}

.header__block {
    display: flex;
}


@media (min-width: 320px){
    .menu__block {
        background-color: white;
        display: flex;
        border-bottom: 1px solid #D9FFF5;
        margin-bottom: 50px;
    } 

    .header__el1 {
       height: 40px;
        width: 4px;
        left: 4px;
        top: 112px;
        border-radius: [object Object]px;
    }

    .header__el2 {
        margin-top: -5px;
        height: 40px;
        width: 288px;
        left: 16px;
        top: 112px;
        border-radius: nullpx;
        font-family: TT Lakes;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
    }

    .nav__block {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        list-style-type: none;
}

    .nav__block > li {
        margin-left: 15px;
        color: #7E7E82;   
    }

    .nav__block li a {
        text-decoration: none;
        color: #7E7E82;
    }

     .nav__block > li:active {
        border: 2px solid #B8FFEC;
        display: inline-block;
        color: #7E7E82;
        border-radius: 6px;    
    }


    .main__text {
        height: 90px;
        width: 288px;
        left: 16px;
        top: 240px;
        border-radius: nullpx;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    .main__end {
        margin-left: 15px;
        margin-top: -40px;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        font-weight: 600;
    }
}


@media (min-width: 768px){
    .menu__block {
        background-color: white;
        display: flex;
        border-bottom: 1px solid #D9FFF5;
        margin-bottom: 44px;
    } 

    .menu__image1 {
        height: 32px;
        width: 2px;
        margin-left: 400px;
        align-self: center;
    }

    .header__block {
        margin-top: -30px;
        margin-bottom: 10px;
    }

    .header__el1 {
       height: 40px;
        width: 4px;
        left: 4px;
        top: 112px;
        border-radius: [object Object]px;

    }

    .header__el2 {
        margin-top: -5px;
        height: 40px;
        width: 288px;
        margin-left: 15px;
        top: 112px;
        border-radius: nullpx;
        font-family: TT Lakes;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
    }

    .nav__block {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        margin-bottom: 30px;
}

    .nav__block > li {
        text-decoration: none;
        color: #7E7E82;
        height: 40px;
        width: 248px;
        top: 184px; 
    }

     .nav__block > li:active {
        border: 2px solid #B8FFEC;
        display: inline-block;
        color: #7E7E82;
        border-radius: 6px;    
    }

    .main__block {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .main__text {
        height: 160px;
        width: 312px;
        top: 256px;
        border-radius: nullpx;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        margin-left: 10px;
        margin-right: 50px;
    }

    .main__text::after {
        content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
        display: block;
        margin-top: 25px;
    }

    .main__img1 {
        display: none;
    }

    .main__img2 {
        display: block;
    }

    .main__img {
        height: 280px;
        width: 360px;
        top: 230px;
        margin-right: 10px;
    }

    .main__img > img {
        border-radius: 6px;
    }

    .main__end {
        order: 2;
        position: absolute;
        margin-top: 160px;
    }

}

@media (min-width: 1120px){
    
    .menu__block {
        background-color: white;
        display: flex;
        border-bottom: 3px solid #D9FFF5;
        margin-bottom: 44px;
    } 

    .menu__image1 {
        height: 32px;
        width: 2px;
        margin-left: 700px;
        align-self: center;
    }

    .header__el1 {
       height: 40px;
        width: 3px;
        top: 112px;

    }

    .header__el2 {
        margin-top: -5px;
        height: 40px;
        width: 288px;
        margin-left: 15px;
        top: 112px;
        border-radius: nullpx;
        font-family: TT Lakes;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;

    }

    .nav__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
}

    .nav__block > li {
        text-decoration: none;  
        margin-bottom: 10px;  
    }

    .nav__block > li:active {
        border: 2px solid #B8FFEC;
        display: inline-block;
        color: #7E7E82;
        border-radius: 6px;    
    }

    .main__block {
        display: flex;
        flex-wrap: wrap;
    }

    .main__text {
        height: 160px;
        width: 40%;
        left: 35px;
        border-radius: nullpx;
        margin-top: -10px;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    .main__text::after {
        content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
        display: block;
        margin-top: 25px;
    }

    .main__img2 {
        display: none;
    }

    .main__img3 {
        display: block;
    }

    .main__img {
        height: 383.24127197265625px;
        width: 531.34619140625px;
        left: 561px;
        margin-top: -17.625px;
        border-radius: 0px;
    }

    .main__img > img {
        border-radius: 6px;
    }
   
}
