.menu__block {
  display: flex;
  border-bottom: 1px solid #D9FFF5;
  margin-bottom: 44px;
  justify-content: space-between;

  @media (min-width: 1366px){
    display: none;
  }

  .menu__image1 {
    height: 32px;
    width: 2px;
    align-self: center;
  }

}

